
.html, .body{
    margin:0;
    font-size: 100%;
    background: #fff;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-size: 20px;
    }
}




hr {
    background-color: #123455;
    height: 2px;
    border: 0;
}




.card-title,.grid-titles,.center-grid{
    text-align: center;
}

img{
    max-width: 100%;
}
.join{
    text-align: center;
}











/*styling the footer*/
footer{
    color: white;
    margin: 0;
}
footer a{
    color: #bfffff;
}
footer a:hover{
    color: #f8b239;
    text-decoration: none;
}

.footer-bottom{
    background-color: #2d4958;

}
.footer-top{
    background: #3d6277;
}
.footer-middle{
    background: #3d6277;
    padding-top: 2em;
    color: white;
}
